<table>
    <thead>
        <th>Name</th>
        <th>DOB</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentInfo">
            <td>{{student.givenName}} {{student.surname}}</td>
            <td>{{student.studentDateOfBirth}}</td>
        </tr>
    </tbody>
</table>
    <div style="display: block;">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
